.project-name{
  font-style: italic;
  font-size: 1.2rem;
}
.project-name:hover{
  color:red;
  cursor: pointer;
}
.project-images{
  width: 100%;
  
  border:black 3px solid;
}
.project-headings{

}


.decorated{
  overflow: hidden;
  text-align: center;
  color:goldenrod;
  font-style: italic;
  font-weight: bold;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 2px solid;
 width: 591px; /* half of limiter*/
 margin: 0 20px;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}
.projects-container{
  margin:70px auto 150px;

  width: 90%;

  
}



@media only screen and (min-width: 1000px) {
  .project-row{
    position: relative;
    left:35px;
  }
}